<template>
  <div>
    <header>
      <div class="circle-background"></div>
      <nuxt-link to="/"><img src="@/assets/logo-white.svg" class="logo" /></nuxt-link>
      <div v-if="notDoneBefore">
        <h2 class="smallerDesktop">Wybierz miasto:</h2>
        <div class="city-select-row">
          <v-select
            :options="cities"
            label="name"
            placeholder="Wpisz lub wybierz miasto"
            v-model="citySelected"
            class="autocomplete-select-header"
          ></v-select>
          <button class="geo-button" @click="geo()">
            <img src="@/assets/crosshair.svg" />
          </button>
        </div>
      </div>







      <div v-else>
        <h2 class="smallerDesktop">Dziękujemy za przesłanie danych</h2>
        <p style="margin-bottom: 12px;">{{votedCityName}}</p>
      </div>










    </header>

    <div class="error-window" v-if="errorWindow.text">
      <p>{{errorWindow.text}}</p>
      <button @click="errorWindow.text = ''">Rozumiem</button>
      </div>
    <div id="information" class="container" v-if="!gotStops && notDoneBefore">
      <h2>Chcesz mieć wpływ na rozkład jazdy w swoim mieście?</h2>
      <p>Zaplanuj przejazd komunikacją miejską i zadbaj o bezpieczeństwo swoje i innych podczas epidemii COVID-19</p>
      <img src="@/assets/info-image.png" />
      <button @click="redirectToResults()">Pokaż statystyki przystanków</button>
    </div>





    <div class="container" v-if="!notDoneBefore">
      <h2 style="margin-top: 12px;">Popularne przystanki w Twoim mieście</h2>
      <table>
          <tr v-for="stop in popularStops" v-bind:key="stop.stop_name">
            <td>{{stop.stop_name}}</td>
            <td class="align-right"><span>{{stop.count}} głosów</span></td>
          </tr>
          </table>
          <button  @click="redirectToResults()">Zobacz wyniki</button>
      </div>





    <div id="bus-stop-select" class="container" v-if="gotStops">
      <h4>Przystanek startowy:</h4>

      <v-select
        placeholder="Wpisz lub wybierz w listy"
        :options="busStops"
        label="name"
        v-model="startStop"
        class="autocomplete-select"
      ></v-select>

      <h4>Przystanek końcowy:</h4>

      <v-select
        placeholder="Wpisz lub wybierz w listy"
        :options="busStops"
        label="name"
        v-model="endStop"
        class="autocomplete-select"
      ></v-select>

      <div class="box">
        <h4>Godzina odjazdu:</h4>
        <div class="row">
          <div class="cell">
            <input class="no-autocomplete" type="number" v-model="startHour" step="1" />
            <div class="number-controller-container">
              <div class="number-controller" @click="startHour++">
                <span>+</span>
              </div>
              <div class="number-controller number-controller-down" @click="startHour--">
                <span>-</span>
              </div>
            </div>
          </div>
          <span>:</span>
          <div class="cell">
            <input class="no-autocomplete" type="number" v-model="startMinutes" />
            <div class="number-controller-container">
              <div class="number-controller" @click="startMinutes=startMinutes+15">
                <span>+</span>
              </div>
              <div
                class="number-controller number-controller-down"
                @click="startMinutes=startMinutes-15"
              >
                <span>-</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="box" v-if="sendEndTime">
        <h4>Godzina powrotu:</h4>
        <div class="row">
          <div class="cell">
            <input class="no-autocomplete" type="number" v-model="endHour" step="1" />
            <div class="number-controller-container">
              <div class="number-controller" @click="endHour++">
                <span>+</span>
              </div>
              <div class="number-controller number-controller-down" @click="endHour--">
                <span>-</span>
              </div>
            </div>
          </div>
          <span>:</span>
          <div class="cell">
            <input class="no-autocomplete" type="number" v-model="endMinutes" />
            <div class="number-controller-container">
              <div class="number-controller" @click="endMinutes=endMinutes+15">
                <span>+</span>
              </div>
              <div
                class="number-controller number-controller-down"
                @click="endMinutes=endMinutes-15"
              >
                <span>-</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h4>Czy chcesz dodać przejazd powrotny?</h4>
      <p class="grey">
        Nie<el-switch v-model="sendEndTime" active-color="#2a7dfc"></el-switch>Tak
      </p>

      <h4>W jakie dni jeździsz do pracy:</h4>

      <div class="days-container">
        <div
          class="day-container"
          v-for="day in checkedDays"
          v-bind:key="day.name"
          @click="
         if(day.checked==true)
         {
           day.style='check-dot'; 
           day.styleLabel='label';
           day.checked=false;
          }
          else
          {
            day.style='check-dot checked'; 
           day.styleLabel='label-checked';
           day.checked=true;
          }
         "
        >
          <div :class="day.style">
            <div class="dot-inside"></div>
          </div>
          <label :class="day.styleLabel">{{day.name}}</label>
        </div>
      </div>

      <p class="submit-button" v-if="startStop && endStop && startHour && endHour">
        <button
          @click="sendData(citySelected,
      startStop,
      endStop,
      startHour,
      endHour,
      startMinutes,
      endMinutes,
      checkedDays,
      sendEndTime)"
        >Wyślij</button>
      </p>
      <p v-else class="submit-button">
        <button disabled>Wyślij</button>
      </p>
    </div>

    <footer>
      <p>Made with
      <img src="@/assets/madewithlove.png" width="20" height="18" /> BudgetBee.io</br>
      
        Kontakt: <a href="mailto:zaplanujprzejazd@budgetbee.io">zaplanujprzejazd@budgetbee.io</a>
        </p>

    </footer>
  </div>
</template>






<script>
import { Switch } from "element-ui";
import axios from "axios";

export default {
  data: function() {
    return {
      errorWindow:{
        text: ""
      },
      notDoneBefore: true,
      dataSended: false,
      citySelected: "",
      gotStops: false,
      cities: [],
      popularStops: [],
      startStop: "",
      startHour: 7,
      votedCity: "",
      votedCityName: "",
      startMinutes: 30,
      startMinutesCheck: false,
      sendEndTime: false,
      endStop: "",
      endHour: 16,
      endMinutes: 30,
      endMinutesCheck: false,
      checkedDays: {
        mon: {
          name: "Pon",
          checked: true,
          style: "check-dot checked",
          styleLabel: "label-checked"
        },
        tue: {
          name: "Wt",
          checked: true,
          style: "check-dot checked",
          styleLabel: "label-checked"
        },
        wed: {
          name: "Śr",
          checked: true,
          style: "check-dot checked",
          styleLabel: "label-checked"
        },
        thu: {
          name: "Czw",
          checked: true,
          style: "check-dot checked",
          styleLabel: "label-checked"
        },
        fri: {
          name: "Pt",
          checked: true,
          style: "check-dot checked",
          styleLabel: "label-checked"
        },
        sat: {
          name: "So",
          checked: false,
          style: "check-dot",
          styleLabel: "label"
        },
        sun: {
          name: "Nd",
          checked: false,
          style: "check-dot",
          styleLabel: "label"
        }
      },
      minutes: 0,
      busStops: [],
      location: null,
      gettingLocation: false,
      errorStr: null
    };
  },
  created() {
    const cookieRes = this.$cookies.get("doneBefore");
    
    var vm = this;
    if (cookieRes == "yes") {
      
      vm.notDoneBefore = false;
      vm.votedCity = this.$cookies.get("doneBeforeCity");
      vm.votedCityName = this.$cookies.get("doneBeforeName");
      vm.getVotedStops(vm.votedCity);
    }
    else{
      axios({
        method: "get",
        url: "/api/api/v1/cities/?limit=100",
        headers: {
          "Content-Type": "application/json",
          "Access-Control-Allow-Origin": "*"
        }
      })
        .then(response => {
          vm.cities = response.data.results;
        })
        .catch(error => {
          
          vm.errorWindow.text = "Błąd podczas łączenia z bazą danych. Kod błędu: "+ error.response.code;
        })
    }
    
  },
  watch: {
    citySelected: function(val) {
      
      this.getStops(val);
    },
    startHour: function(val) {
      if (val > 23) {
        this.startHour = 23;
      } else if (val < 0) {
        this.startHour = 0;
      }
    },
    endHour: function(val) {
      if (val > 23) {
        this.endHour = 23;
      } else if (val < 0) {
        this.endHour = 0;
      }
    },
    startMinutes: function(val) {
      if (val > 59) {
        this.startHour++;
        this.startMinutes = val % 60;
      } else if (val < 0) {
        this.startHour--;
        this.startMinutes = val + 60;
      }
    },
    endMinutes: function(val) {
      if (val > 59) {
        this.endHour++;
        this.endMinutes = val % 60;
      } else if (val < 0) {
        this.endHour--;
        this.endMinutes = val + 60;
      }
    }
  },
  methods: {
    getVotedStops(city)
    {
      
      var vm= this;
axios({
        method: "get",
        url: "/api/api/v1/results/"+city+"/stats/",
        headers: {
          "Content-Type": "application/json",
          "Access-Control-Allow-Origin": "*"
        }
      })
        .then(response => {
          
          vm.popularStops = response.data;
          
        })
        .catch(error => {
          
          vm.errorWindow.text = "Błąd podczas łączenia z bazą danych. Kod błędu: "+ error.response.code;
        })

      
      
    },
    getStops(city) {

      var vm = this;
      
      vm.startStop = "";
      vm.ednStop = "";
      if(city){
        
        axios({
        method: "get",
        url: "/api/api/v1/cities/"+city.id+"/transport-stops/?limit=3000",
        headers: {
          "Content-Type": "application/json",
          "Access-Control-Allow-Origin": "*"
        },
        data:
        {
          id: city.id
        }
      })
        .then(response => {
          
          vm.busStops = response.data.results;
          
          vm.gotStops = true;
        })
        .catch(error => {
          
          vm.errorWindow.text = "Błąd podczas łączenia z bazą danych. Kod błędu: "+ error.response.code;
          
          
        })


        
      }
      else
      {
        this.gotStops = false;
      }
      
    },
    sendData(
      citySelected,
      startStop,
      endStop,
      startHour,
      endHour,
      startMinutes,
      endMinutes,
      checkedDays,
      sendEndTime
    ) {
      var vm = this;
      if(sendEndTime)
      {
var data={
        transport_stop_from: startStop.id,
        transport_stop_to: endStop.id,
        time: startHour + ":"+ (startMinutes - startMinutes % 15),
        time_return: endHour + ":" + (endMinutes - endMinutes % 15),
        monday: checkedDays.mon.checked,
        tuesday: checkedDays.tue.checked,
        wednesday: checkedDays.wed.checked,
        thursday: checkedDays.thu.checked,
        friday: checkedDays.fri.checked,
        saturday: checkedDays.sat.checked,
        sunday: checkedDays.sun.checked
      }
      }
      else{
        {
var data={
        transport_stop_from: startStop.id,
        transport_stop_to: endStop.id,
        time: startHour + ":"+ (startMinutes - startMinutes % 15),
        monday: checkedDays.mon.checked,
        tuesday: checkedDays.tue.checked,
        wednesday: checkedDays.wed.checked,
        thursday: checkedDays.thu.checked,
        friday: checkedDays.fri.checked,
        saturday: checkedDays.sat.checked,
        sunday: checkedDays.sun.checked
      }
      }
      }
      if(startStop.id!=endStop.id){
      axios({
        method: "post",
        url: "/api/api/v1/responses/",
        headers: {
          "Content-Type": "application/json",
          "Access-Control-Allow-Origin": "*"
        },
        data: data
        
      })
        .then(response => {
          
          var status = response.status;
          
          
        })
        .catch(error => {
          
          vm.errorWindow.text = "Błąd podczas łączenia z bazą danych :("         
        })
      
      
      if(status=201)
      {
      var date = new Date();
      date.setTime(date.getTime() + 1 * 24 * 60 * 60 * 1000);
      this.$cookies.set("doneBefore", "yes", {
        path: "/",
        maxAge: 60 * 60 * 24 * 1
      });
      this.$cookies.set("doneBeforeCity", citySelected.id, {
        path: "/",
        maxAge: 60 * 60 * 24 * 1
      });
      this.$cookies.set("doneBeforeName", citySelected.name, {
        path: "/",
        maxAge: 60 * 60 * 24 * 1
      });
      vm.notDoneBefore = false;
      vm.gotStops = false;
      vm.votedCityName = citySelected.name;
      vm.getVotedStops(citySelected.id);
      }}
      else
      {
        vm.errorWindow.text = "Przystanek startowy i końcowy nie mogą być takie same!"
      }
    },
    checkWorkingDays() {
      var vm = this;
      vm.checkedDays = ["mon", "tue", "wed", "thu", "fri"];
    },
    checkWeekend() {
      var vm = this;
      vm.checkedDays = ["sat", "sun"];
    },
    geo() {
      var vm = this;
      if (!("geolocation" in navigator)) {
        vm.errorStr = "Geolokacja jest niedostępna.";
        return;
      }

      vm.gettingLocation = true;
      navigator.geolocation.getCurrentPosition(
        pos => {
          vm.gettingLocation = false;
          vm.location = pos;
          
        axios({
                method: "get",
                url: "/api/api/v1/cities/?lat="+vm.location.coords.latitude+"&lng="+vm.location.coords.longitude,
                headers: {
                  "Content-Type": "application/json",
                  "Access-Control-Allow-Origin": "*"
                }
              })
        .then(response => {
          if(response.data.results)
          {
            vm.citySelected=response.data.results[0];
            
          }
          else
          {
            vm.errorWindow.text = "Brak Twojego miasta w bazie danych.";
          }
        })
        .catch(error => {
          
          vm.errorWindow.text = "Błąd podczas łączenia z bazą danych. Kod błędu: "+ error.response.code;
        })







        },
        err => {
          vm.gettingLocation = false;
          vm.errorStr = err.message;
        }
      );
      
    },
    redirectToResults()
    {
      window.location.href = "/results";
    }
  }
};
</script>

<style>
.circle-background
{
  width: 210px;
  height: 210px;
  background: white;
  border-radius: 200px;
  position: fixed;
  right: 0;
  top: 0%;
  transform: translate(50px, -30%);
  opacity: 0.2;
  
}
.sticky-button
{
  position: absolute;
  bottom: 78px;
  left: 50%;
  transform: translate(-50%, 0%);
  max-width: calc(100% - 40px) !important;
}
table
{
  width: 100%;
  border-spacing: 0px;
}
td
{
  color: #2E2E2E;
  font-size: 14px;
  padding: 15px 0px;
  border-bottom: solid 1px #E3E3E3;
}
h2
{
  color: #2E2E2E;
  line-height: 26px;
}
p
{
  line-height: 23px !important;
}
td span
{
  color: #2A7DFC;
}
tr
{
  transition: all 0.3s;
}
tr:hover
{
  background: #fafafa;
}
.align-right
{
  text-align: right;
}
.check-dot {
  content: " ";
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border: solid 1px #707070;
  border-radius: 15px;
  transition: all 0.2s;
  cursor: pointer;
}
.vs__actions
{
  cursor: pointer;
}
.checked {
  background: #2a7dfc;
  border: solid 1px #2a7dfc;
}
.dot-inside {
  margin: 9px;
  width: 10px;
  height: 10px;
  content: " ";
  background: white;
  border-radius: 15px;
}
.day-container {
  width: 30px;
  text-align: center;
  margin-right: 15px;
}
.day-container label {
  font-size: 12px;
  color: #707070;
}
.day-container .label-checked {
  color: #2a7dfc;
}
.days-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.submit-button {
  text-align: center;
}

body
{
  margin: 0;
  font-family: "stolzl", sans-serif;
  font-style: normal;
  font-weight: 300;
  padding-bottom: 76px;
}
header {
  color: #f5f7f8;
  padding: 20px 22px;
  background-color: #2a7dfc;
  border-radius: 00px 0px 20px 20px;
}
header h2 {
  color: white;
}
header img {
  width: 184px;
  height: 51px;
  margin-bottom: 40px;
}
header button {
  float: left;
}
button {
  border: none;
  outline: none;
}
button img {
  width: 100%;
  height: 100%;
  margin: 0;
}
.geo-button {
  margin-top: 3px;
  width: 44px;
  height: 44px;
  background: none;
  padding: 10px;
  box-sizing: border-box;
}
.city-select-row {
  background: #f5f7f8;
  border-radius: 4px;
  height: 50px;
}
.autocomplete-select-header {
  float: left;
  width: calc(100% - 44px);
}
header .vs__search::placeholder,
header .vs__dropdown-toggle,
header .vs__dropdown-menu {
  border: none;
}
.vs__dropdown-toggle,
.vs__dropdown-menu {
  border: 1px solid rgba(60, 60, 60, 0.26);
}
.vs__search::placeholder {
  color: #707070;
}
.vs__search::placeholder,
.vs__dropdown-toggle,
.vs__dropdown-menu {
  background: #f5f7f8;

  border-radius: none;
  font-size: 14px;
  font-family: "stolzl", sans-serif;
  font-style: normal;
  font-weight: 300;
  padding: 0px 13px 3px 13px;
  box-sizing: border-box;
  height: 50px;
}
.vs__dropdown-menu {
  height: 20vh !important;
}
header .vs__search::placeholder {
  color: gray;
}

#information h2 {
  margin: 10px 0px;
  text-align: left;
}
#information p {
  color: #707070;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 42px;
  text-align: left;
}
#information img {
  margin-bottom: 20px;
  width: 134px;
  height: 123px;
}
#information button {
  display: block;
  margin: 0 auto;
}
button {
  color: #ffffff;
  font-size: 14px;
  border-radius: 4px;
  background-color: #2a7dfc;
  font-family: "stolzl", sans-serif;
  font-style: normal;
  font-weight: 300;
  padding: 15px 30px;
  width: 100%;
  max-width: calc(100% - 40px);
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.3s;
}
button:hover
{
  background: #448dfc;
}

footer {
  width: 100%;
  text-align: center;
  padding: 14px;
  font-size: 10px;
  color: #2e2e2e;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: 0;
  background: white;
}
footer img {
  margin: 0px 6px;
}

h4 {
  text-align: left;
  font-family: "stolzl", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  margin: 20px 0px;
  color: #2E2E2E;
}


h2 {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 16px;
  letter-spacing: 0.8px;
}
.container {
  padding: 20px 20px 0px;
}
.row {
  display: block;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box {
  width: 49%;
  margin-top: 20px;
  position: relative;
  display: inline-block;
}
.no-autocomplete {
  height: 100%;
  box-sizing: border-box;
  float: left;
  width: calc(100% - 34px);
}
.cell {
  position: relative;
  height: 100%;
  width: 45%;
  display: inline-block;
  border: solid 1px #e3e3e3;
  border-radius: 4px;
}
.row span {
  margin: 0px 3px;
  font-size: 14px;
  color: #2e2e2e;
}

.number-controller-container {
  width: 34px;
  height: 100%;
  float: left;
}
.number-controller {
  position: relative;
  width: 100%;
  height: 50%;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  padding: 2px 0px;
  border: none;
}
.number-controller span {
  position: absolute;
  font-size: 15px;
  left: 50%;
  top: calc(50% - 2px);
  transform: translate(-50%, -50%);
  margin: 0;
  color: #2e2e2e;
}
input[type="number"] {
  border: none;
  border-right: solid 1px #e3e3e3;
  color: #2e2e2e;
  font-family: "stolzl", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  padding: 0 5px;
  text-align: center;
}
.number-controller-down {
  border-top: solid 1px #e3e3e3;
}
button:disabled,
button[disabled] {
  background: #a8cbff;
}
.grey
{
  color: #707070;
}
.el-switch__core
{
  margin: 0 10px;
}
.container button
{
  max-width: 100%;
}
header button
{
  max-width: calc(100% - 22px);
}
.link
{
  margin-top: 15px !important;
}
a, a:visited, a:active
{
  color: #2A7DFC;
  text-decoration: underline;
}
a:hover{
  opacity: 0.8;
}
@media only screen and (min-width: 1000px) {
  .container
  {
    max-width: 600px;
    margin: 0 auto;
  }
  header{
        padding-left: calc(50% - 280px);
    padding-right: calc(50% - 280px);
    box-sizing: none;
  }
  td{
    font-size: 16px;
  }
  footer p{
    font-size: 14px;
  }
  .sticky-button
  {
    position: relative;
    transform: none;
    left: 0;
    bottom: 0;
    max-width: 100% !important;
    margin-top: 20px;
  }
  h2{
    font-size: 30px;
    line-height: 40px;
  }
  
  p{
    font-size: 16px;
  }
  .smallerDesktop{
    font-size: 20px;
  }
  .box
  {
    max-width: 200px;
  }
  .circle-background
{
  width: 210px;
  height: 210px;
  background: white;
  border-radius: 200px;
  left: 60%;
  top: 0%;
  transform: translate(200px, -30%);
  
}
}
.error-window
{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999999999;
  background: white;
  text-align: center;
  box-sizing: border-box;
  padding: 20px;
  border: solid 1px #E3E3E3;
}
.error-window button
{
  max-width: 300px;
}
.error-window p
{
  margin-bottom: 20px;
  font-weight: 300;
}
.geo-button:hover{
  background: none;
  opacity: 0.7;
}
footer a, footer a:link, footer a:visited
{
  color: #2ccc70;
}
footer a:hover
{
  color: #4fd88b;
}
</style>