<template>
  <div>
    <header>
      <div class="circle-background"></div>
      <nuxt-link to="/"><img src="@/assets/logo-white.svg" class="logo" /></nuxt-link>
      <h2>Wybierz miasto:</h2>
        <div class="city-select-row">
          <v-select
            :options="cities"
            label="name"
            placeholder="Wpisz lub wybierz miasto"
            v-model="citySelected"
            class="autocomplete-select-header"
            style="width: 100%;"
          ></v-select>
          
            
        </div>
      </header>
      <div class="error-window" v-if="errorWindow.text">
      <p>{{errorWindow.text}}</p>
      <button @click="errorWindow.text = ''">Rozumiem</button>
      </div>
<div id="information" class="container">
      <h2>Wybierz miasto</h2>
      <p>z którego chcesz pobrać dane .csv</p>
      <img src="@/assets/info-image.png" />
      <div v-if="citySelected.id">
      <button @click="downloadCSVFile(citySelected.id)">Pobierz dane</button>
      </div>
      <div v-else>
<button disabled>Pobierz dane</button>
        </div>
        <p class="link"><center><nuxt-link to="/">Wróć, aby wypełnić formularz</nuxt-link></center></p>
    </div>

    <footer>
      <p>Made with
      <img src="@/assets/madewithlove.png" width="20" height="18" /> BudgetBee.io</br>
      
        Kontakt: <a href="mailto:zaplanujprzejazd@budgetbee.io">zaplanujprzejazd@budgetbee.io</a>
        </p>

    </footer>
  </div>
</template>






<script>
import { Switch } from "element-ui";
import axios from "axios";

export default {
  data: function() {
    return {
      citySelected: "",
      cities: [],
      downloadLink: "",
      errorWindow:{
        text: ""
      }
    };
  },
  created()
  {
    var vm= this;
    axios({
        method: "get",
        url: "/api/api/v1/results/",
        headers: {
          "Content-Type": "application/json",
          "Access-Control-Allow-Origin": "*"
        }
      })
        .then(response => {
          vm.cities = response.data.results;
          console.log(vm.cities);
        })
        .catch(error => {
          vm.errorWindow.text = "Błąd podczas łączenia z bazą danych. Kod błędu: "+ error.response.code;
          
        })
  },
  methods:
  {
    downloadCSVFile(val)
    {
      console.log(val);
      var vm = this;
      var CSVData = "";
      axios({
        method: "get",
        url: "/api/api/v1/results/"+val+"/",
        headers: {
          "Content-Type": "application/json",
          "Access-Control-Allow-Origin": "*"
        }
      })
        .then(response => {
          
          console.log(response);
          CSVData = response.data;
           var hiddenElement = document.createElement('a');
    hiddenElement.href = 'data:text/csv;charset=utf-8,' + encodeURI(CSVData);
    hiddenElement.target = '_blank';
    hiddenElement.download = 'people.csv';
    hiddenElement.click();
          console.log(CSVData);
        })
        .catch(error => {
          
          vm.errorWindow.text = "Błąd podczas łączenia z bazą danych. Kod błędu: "+ error.response.code;
        });
        
       

      
      
   
}

  }
};
</script>


<style>
.circle-background
{
  width: 210px;
  height: 210px;
  background: white;
  border-radius: 200px;
  position: fixed;
  right: 0;
  top: 0%;
  transform: translate(50px, -30%);
  opacity: 0.2;
  
}
.sticky-button
{
  position: absolute;
  bottom: 78px;
  left: 50%;
  transform: translate(-50%, 0%);
  max-width: calc(100% - 40px) !important;
}
table
{
  width: 100%;
  border-spacing: 0px;
}
td
{
  color: #2E2E2E;
  font-size: 14px;
  padding: 15px 0px;
  border-bottom: solid 1px #E3E3E3;
}
h2
{
  color: #2E2E2E;
  line-height: 26px;
}
p
{
  line-height: 23px !important;
}
td span
{
  color: #2A7DFC;
}
tr
{
  transition: all 0.3s;
}
tr:hover
{
  background: #fafafa;
}
.align-right
{
  text-align: right;
}
.check-dot {
  content: " ";
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border: solid 1px #707070;
  border-radius: 15px;
  transition: all 0.2s;
  cursor: pointer;
}
.vs__actions
{
  cursor: pointer;
}
.checked {
  background: #2a7dfc;
  border: solid 1px #2a7dfc;
}
.dot-inside {
  margin: 9px;
  width: 10px;
  height: 10px;
  content: " ";
  background: white;
  border-radius: 15px;
}
.day-container {
  width: 30px;
  text-align: center;
  margin-right: 15px;
}
.day-container label {
  font-size: 12px;
  color: #707070;
}
.day-container .label-checked {
  color: #2a7dfc;
}
.days-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.submit-button {
  text-align: center;
}

body
{
  margin: 0;
  font-family: "stolzl", sans-serif;
  font-style: normal;
  font-weight: 300;
  padding-bottom: 76px;
}
header {
  color: #f5f7f8;
  padding: 20px 22px;
  background-color: #2a7dfc;
  border-radius: 00px 0px 20px 20px;
}
header h2 {
  color: white;
}
header img {
  width: 184px;
  height: 51px;
  margin-bottom: 40px;
}
header button {
  float: left;
}
button {
  border: none;
  outline: none;
}
button img {
  width: 100%;
  height: 100%;
  margin: 0;
}
.geo-button {
  margin-top: 3px;
  width: 44px;
  height: 44px;
  background: none;
  padding: 10px;
  box-sizing: border-box;
}
.city-select-row {
  background: #f5f7f8;
  border-radius: 4px;
  height: 50px;
}
.autocomplete-select-header {
  float: left;
  width: calc(100% - 44px);
}
header .vs__search::placeholder,
header .vs__dropdown-toggle,
header .vs__dropdown-menu {
  border: none;
}
.vs__dropdown-toggle,
.vs__dropdown-menu {
  border: 1px solid rgba(60, 60, 60, 0.26);
}
.vs__search::placeholder {
  color: #707070;
}
.vs__search::placeholder,
.vs__dropdown-toggle,
.vs__dropdown-menu {
  background: #f5f7f8;

  border-radius: none;
  font-size: 14px;
  font-family: "stolzl", sans-serif;
  font-style: normal;
  font-weight: 300;
  padding: 0px 13px 3px 13px;
  box-sizing: border-box;
  height: 50px;
}
.vs__dropdown-menu {
  height: 20vh !important;
}
header .vs__search::placeholder {
  color: gray;
}

#information h2 {
  margin: 10px 0px;
  text-align: left;
}
#information p {
  color: #707070;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 42px;
  text-align: left;
}
#information img {
  margin-bottom: 20px;
  width: 134px;
  height: 123px;
}
#information button {
  display: block;
  margin: 0 auto;
}
button {
  color: #ffffff;
  font-size: 14px;
  border-radius: 4px;
  background-color: #2a7dfc;
  font-family: "stolzl", sans-serif;
  font-style: normal;
  font-weight: 300;
  padding: 15px 30px;
  width: 100%;
  max-width: calc(100% - 40px);
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.3s;
}
button:hover
{
  background: #448dfc;
}

footer {
  width: 100%;
  text-align: center;
  padding: 14px;
  font-size: 10px;
  color: #2e2e2e;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: 0;
  background: white;
}
footer img {
  margin: 0px 6px;
}

h4 {
  text-align: left;
  font-family: "stolzl", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  margin: 20px 0px;
  color: #2E2E2E;
}


h2 {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 16px;
  letter-spacing: 0.8px;
}
.container {
  padding: 20px 20px 0px;
}
.row {
  display: block;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box {
  width: 49%;
  margin-top: 20px;
  position: relative;
  display: inline-block;
}
.no-autocomplete {
  height: 100%;
  box-sizing: border-box;
  float: left;
  width: calc(100% - 34px);
}
.cell {
  position: relative;
  height: 100%;
  width: 45%;
  display: inline-block;
  border: solid 1px #e3e3e3;
  border-radius: 4px;
}
.row span {
  margin: 0px 3px;
  font-size: 14px;
  color: #2e2e2e;
}

.number-controller-container {
  width: 34px;
  height: 100%;
  float: left;
}
.number-controller {
  position: relative;
  width: 100%;
  height: 50%;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  padding: 2px 0px;
  border: none;
}
.number-controller span {
  position: absolute;
  font-size: 15px;
  left: 50%;
  top: calc(50% - 2px);
  transform: translate(-50%, -50%);
  margin: 0;
  color: #2e2e2e;
}
input[type="number"] {
  border: none;
  border-right: solid 1px #e3e3e3;
  color: #2e2e2e;
  font-family: "stolzl", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  padding: 0 5px;
  text-align: center;
}
.number-controller-down {
  border-top: solid 1px #e3e3e3;
}
button:disabled,
button[disabled] {
  background: #a8cbff;
}
.grey
{
  color: #707070;
}
.el-switch__core
{
  margin: 0 10px;
}
.container button
{
  max-width: 100%;
}
header button
{
  max-width: calc(100% - 22px);
}
.link
{
  margin-top: 15px !important;
}
a, a:visited, a:active
{
  color: #2A7DFC;
  text-decoration: underline;
}
a:hover{
  opacity: 0.8;
}
@media only screen and (min-width: 1000px) {
  .container
  {
    max-width: 600px;
    margin: 0 auto;
  }
  footer p{
    font-size: 14px;
  }
  header{
        padding-left: calc(50% - 280px);
    padding-right: calc(50% - 280px);
    box-sizing: none;
  }
  td{
    font-size: 16px;
  }
  .sticky-button
  {
    position: relative;
    transform: none;
    left: 0;
    bottom: 0;
    max-width: 100% !important;
    margin-top: 20px;
  }
  h2{
    font-size: 30px;
    line-height: 40px;
  }
  
  p{
    font-size: 16px;
  }
  .smallerDesktop{
    font-size: 20px;
  }
  .box
  {
    max-width: 200px;
  }
  .circle-background
{
  width: 210px;
  height: 210px;
  background: white;
  border-radius: 200px;
  left: 60%;
  top: 0%;
  transform: translate(200px, -30%);
  
}
}
.error-window
{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999999999;
  background: white;
  text-align: center;
  box-sizing: border-box;
  padding: 20px;
  border: solid 1px #E3E3E3;
}
.error-window button
{
  max-width: 300px;
}
.error-window p
{
  margin-bottom: 20px;
  font-weight: 300;
}
.geo-button:hover{
  background: none;
  opacity: 0.7;
}
footer a, footer a:link, footer a:visited
{
  color: #2ccc70;
}
footer a:hover
{
  color: #4fd88b;
}
</style>